
.admin-home-container {
    text-align: center;
}


.admin-home-container h2 {
    text-align: center;
    background-color:  #FFD860;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #FFD860;
    margin-bottom: 30px;
    display: inline-block;


}

.adminOptions button {
    padding: 10px 20px;
    margin: 0 10px;

    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.backToHome {
    background-color: #0a0ab1;
    color: white;
}

.backToHome:hover{
    background-color: #61dafb;
    border-color: black;
}


.adminDashboard:hover {
    border-color: black;
    background-color: #cccccc;
}
