.chat-container {
    width: 600px; /* Fiksna širina */
    height: 500px; /* Fiksna visina */
    margin: auto; /* Centriranje containera */
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Boja pozadine containera */
    border-radius: 10px; /* Zaobljeni rubovi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sjenčanje za container */
    margin-top: 10px;
}

.messages-container {
    height: 90%;
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    display: flex; /* Dodano */
    flex-direction: column; /* Dodano */
}


.chat-window {
    display: flex;
    flex-direction: column;
    height: 80vh; /* Visina chat prozora */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #f9f9f9;
}


.message-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.mine {
    background-color: #FFD860;
    align-self: flex-end; /* Poravnavanje na desnu stranu za poruke ulogiranog korisnika */
}

.theirs {
    background-color: #e1e1e1;
    color: black;
    align-self: flex-start; /* Poravnavanje na lijevu stranu za poruke drugih korisnika */
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.message-input button {
    padding: 10px 15px;
    background-color: #FFD860;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.messages-container::-webkit-scrollbar {
    width: 8px; /* Širina scrollbar-a */
}

.messages-container::-webkit-scrollbar-thumb {
    background-color: #6c757d; /* Boja klizača scrollbar-a */
    border-radius: 4px; /* Zaobljeni rubovi klizača */
    border: 2px solid transparent; /* Transparentne granice */
    background-clip: content-box; /* Ograničava pozadinu na sadržajni prostor, ne na granice */
}

.messages-container::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Boja trake scrollbar-a */
    border-radius: 4px; /* Zaobljeni rubovi trake */
}

.messages-container::-webkit-scrollbar-thumb:hover {
    background-color: #5a6268; /* Tamnija boja klizača na hover */
}

.message-input button:hover {
    background-color: #E6C757;
}

.send-message-container {
    height: 10%;
    display: flex;
    align-items: center; /* Vertikalno centriranje elemenata unutar containera */
    padding: 10px;
    border-top: 1px solid #ccc;
}

.send-message-input {
    flex-grow: 1; /* Input polje zauzima većinu prostora */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.send-message-button {
    background-color: #FFD860;
    color: black;
    border: none;
    padding: 10px 15px;
    margin-left: 5px; /* Razmak između inputa i gumba */
    border-radius: 5px;
    cursor: pointer;
    height: 40px; /* Visina gumba */
    margin-top: 0;
}

.send-message-button:hover {
    background-color: #e6c855; /* Tamnija nijansa na hover */
}