.chat-panel {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chat-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-item:hover {
    background-color: #f0f0f0;
}

.chat-item .chat-title {
    margin-top: 0;
    margin-bottom: 5px;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
}

.chat-item .last-message {
    font-size: 0.9em;
    color: #666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
.chat-item .inactive {
    color: #aaa;
}
.item-inside {
    display: flex;
    flex-direction: row;
}

.unread-count {
    background-color: #FFD860;
    color: black;
    border-radius: 12px;
    padding: 2px 6px;
    font-size: 0.75em;
    font-weight: bold;
    margin-left: auto;
    margin-right: 15px;
    margin-bottom: auto;
    min-width: 20px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    vertical-align: middle;
}
