.message {
    min-width: 20px;
    max-width: 50%;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
    margin-bottom: 5px;
}

.mine {
    background-color: #FFD860;
    align-self: flex-end;
}

.theirs {
    background-color: #e1e1e1;
    color: black;
    align-self: flex-start;
}

.seen-indicator {
    font-size: 0.75em;
    color: #aaa;
    margin-left: 10px;
}