.message {
    max-width: 50%; /* Maksimalna širina pojedinačne poruke */
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word; /* Prelamanje teksta ako je poruka predugačka */
    margin-bottom: 5px; /* Malo razmaka između poruka */
}

.mine {
    background-color: #FFD860;
    align-self: flex-end; /* Poravnavanje na desnu stranu za poruke ulogiranog korisnika */
}

.theirs {
    background-color: #e1e1e1;
    color: black;
    align-self: flex-start; /* Poravnavanje na lijevu stranu za poruke drugih korisnika */
}

.seen-indicator {
    font-size: 0.75em;
    color: #aaa;
    margin-left: 10px;
}