.scooter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: center;
    padding: 16px;
    margin: auto;
    max-width: 1200px;
}
.welcomeImageContainer img {
    width: 100%;
    height: auto;
}

.welcomeImageContainer {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    transform: translateX(60%);
}

.welcome-container {
    background-color: #FFD860;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.welcome-container h5 {
    margin-top: 0px;
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    white-space: nowrap;
}

.slick-slide {
    display: inline-block;
    height: auto;
}

.slick-slider {
    overflow: hidden;
}




@media (max-width: 1200px) {
    .scooter-grid {
        grid-template-columns: repeat(3, 250px);
    }
}

@media (max-width: 900px) {
    .scooter-grid {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 600px) {
    .scooter-grid {
        grid-template-columns: repeat(1, 250px); /* 1 column on very small screens */
    }
}
