.scooter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-content: center;
    padding: 16px;
    margin: auto;
    max-width: 1200px;
}
.welcomeImageContainer img {
    width: 100%;
    height: auto;
}

.welcomeImageContainer {
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    transform: translateX(60%);
}

.welcome-container {
    text-align: center;
}
.welcome-container h5 {
        text-align: center;
        background-color:  #FFD860;
        padding: 20px;
        margin-top: 15px;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 2px solid #FFD860;
        margin-bottom: 30px;
        display: inline-block;
        font-size: 18px;

}


.slick-slide {
    display: inline-block;
    height: auto;
}

.slick-slider {
    overflow: hidden;
}




@media (max-width: 1200px) {
    .scooter-grid {
        grid-template-columns: repeat(3, 250px);
    }
}

@media (max-width: 900px) {
    .scooter-grid {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 600px) {
    .scooter-grid {
        grid-template-columns: repeat(1, 250px); /* 1 column on very small screens */
    }
}
