.login-form-container {
    background-color: #FFD860; /* Yellow background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px; /* Maximum width of the form */
    margin: 40px auto; /* Center the form vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-title {
    color: #000; /* Black text for the title */
    margin-bottom: 20px;
}

.login-form {
    width: 100%; /* Ensure form elements take up full width of the container */
}

.form-group {
    width: 100%; /* Full width to align label and input */
    margin-bottom: 20px; /* Space between form groups */
}

.form-group label {
    display: block;
    margin-bottom: 5px; /* Space between label and input */
    color: #000; /* Black label text */
}

.invalid-credentials {
    font-family: 'Arial', sans-serif;
    color: #D8000C;
    background-color: #FFD2D2;
    border: 1px solid #D8000C;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form-group input {
    width: 80%; /* Adjust the width as needed */
    padding: 10px;
    margin: 0 auto; /* Centers the input fields */
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eee; /* Slightly darker background for inputs */
    color: #000; /* Black text for input */
    display: block; /* Allows the use of margin auto for horizontal centering */
}

.login-form-button {
    width: 40%; /* Match the width of the textboxes */
    padding: 10px;
    margin: 20px auto; /* Centers the button and adds space above */
    display: block; /* Allows the use of margin auto for horizontal centering */
    background-color: #000; /* Black background for the button */
    color: #FFD860; /* Yellow text for the button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.login-form-button:hover {
    background-color: #333;
}

.register-link {
    text-align: center;
    color: #000; /* Black text for the link */
    margin-top: 20px;
}

.register-link span {
    color: #000; /* Black text for the clickable part */
    text-decoration: underline;
    cursor: pointer;
}
