.message-with-buttons {
    margin-bottom: 10px;
}

.message-text {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px; /* Add space between text and buttons */
}

.message-buttons {
    display: flex;
    justify-content: space-around;
}

.message-buttons button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: #FFD860;
}

.message-buttons button:hover {
    background-color: #45a049;
}

.mine {
    background-color: #FFD860;
    align-self: flex-end; /* Poravnavanje na desnu stranu za poruke ulogiranog korisnika */
}

.theirs {
    background-color: #e1e1e1;
    color: black;
    align-self: flex-start; /* Poravnavanje na lijevu stranu za poruke drugih korisnika */
}

.seen-indicator {
    font-size: 0.75em;
    color: #aaa;
    margin-left: 10px;
}