/* MyProfile.css */
.container {
    width: 40%; /* Širina kontejnera */
    background-color: #fff; /* Bijela pozadina */
    border: 1px solid #ddd; /* Sivi border */
    border-radius: 8px; /* Zaobljeni rubovi */
    padding: 16px;
    margin: 20px auto; /* Automatska margina za centriranje */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sjenčanje kao kod scooter karte */
    text-align: center; /* Tekst centriran */
    transition: box-shadow 0.3s ease-in-out;
}

.title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

.infoSection {
    margin-bottom: 20px;
}

.infoRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.infoRow:last-child {
    border-bottom: none;
}

.infoLabel {
    font-weight: bold;
    color: #555;
}

.infoLabel {
    font-weight: bold;
    color: #555;
    min-width: 150px; /* Postavite minimalnu širinu za labele */
    text-align: left; /* Tekst poravnajte ulijevo */
}

.infoValue {
    color: #777;
    text-align: right; /* Tekst poravnajte udesno */
}

.radioGroup {
    display: flex;
    justify-content: flex-end; /* Poravnajte elemente na početak */
    align-items: center;
    width: calc(100% - 150px); /* Oduzmite širinu labele od ukupne širine */
}


/* Style for radio buttons and save button */
input[type="radio"] {
    margin: 0 5px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.deleteButton {
    padding: 8px 16px;
    background-color: #dc3545; /* Red color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.deleteButton:hover {
    background-color: #c82333; /* Darker red on hover */
}
