.register-form-container {
    width: 100%;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#red-notification {
    background-color: #d23737;
}

.form-title {
    color: #FFD860;
    width: 100%;
    max-width: 360px;
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    border: 2px solid #FFD860;
    margin-bottom: 15px;
}

.register-form {
    width: 100%;
}

.section-container {
    background-color: #FFD860;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-title {
    color: #000;
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: bold;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #000;
    display: block;
}

.register-form-button {
    width: 40%;
    max-width: 240px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    background-color: #000;
    color: #FFD860;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.register-form-button:hover {
    background-color: #FFD860;
    color: #000;
    transition: background-color 0.3s ease;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.phone-input-container .PhoneInput {
    display: flex;
    align-items: center;
}

.phone-input-container .PhoneInputCountrySelect {
    width: 50px;
}

.phone-input-container .PhoneInputCountryIcon {
    width: 24px;
    height: auto;
    background-size: contain;
}

.phone-input-container .PhoneInputCountryIconImg {
    display: block;
    width: 100%;
    height: auto;
}

.phone-input-container .PhoneInputInput {
    width: calc(100% - 60px);
}


.input-group {
    position: relative;
    align-items: center;
    display: flex;
}

.input-group input {
    width: 100%;
    padding-right: 2.5em;
}

.toggle-password-button {
    position: absolute;
    right: 10px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #6c757d;
}


