/* ScooterCard.css */
.scooter {
    width: 250px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin: 16px;
    background: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.scooter:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.scooter-image {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
}

.scooter-name {
    font-size: 1.4em; /* Povećana veličina fonta */
    font-weight: bold;
    margin-bottom: 8px; /* Povećan razmak */
    text-align: left; /* Poravnanje teksta ulijevo */
}

.scooter-details p {
    margin: 4px 0;
    line-height: 1.4;
    text-align: left;
}

.scooter-button {
    background-color: #000;
    color: #FFD860;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 1em;
    cursor: pointer;
    margin: 8px;
    margin-bottom: 0px;
}


.scooter-button:hover {
    background-color: #333;
}

.profile-avatar {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the height as needed */
    border-radius: 50%; /* Makes the image circular */
    border: 2px solid #ddd; /* Adds a border around the avatar */
    margin-bottom: 8px; /* Space below the avatar */
    cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

.profile-avatar:hover {
    border-color: #aaa;
}