.transaction-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.transaction-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #000;
    color: #FFD860;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.transaction-buttons button.active {
    background-color: #FFD860;
    color: black;
}
.my-transactions h3{
    color: #FFD860;             /* Maintain the existing vibrant yellow color */
    padding: 20px;               /* Increase padding for a more pronounced look */
    margin-top: 15px;            /* Keep the top margin to separate from elements above */
    text-align: center;          /* Center-align text for a balanced appearance */
    background-color: #333;      /* Add a dark background for contrast */
    border-radius: 5px;          /* Round the corners of the heading */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
          /* Make the background only as wide as the content */
    border: 2px solid #FFD860;   /* Add a border that matches the text color */
    margin-bottom: 30px;
    display: block;
}
.my-transactions{
    text-align: center;
}

.transaction-buttons button:hover {
    background-color: #FFD860;
    color: black;
    transition: background-color 0.3s ease;
}

.rented-scooters-tabs {
    display: grid;
    grid-template-columns: repeat(4, 250px); /* 4 columns*/
    grid-gap: 50px;
    justify-content: center;
    padding: 16px;
    margin: auto; /*Center the grid horizontally */
    max-width: 1200px; /* Maximum width of the grid*/
}

.transactions-tabs {
    display: grid;
    grid-template-columns: repeat(4, 250px); /* 4 columns*/
    grid-gap: 50px;
    justify-content: center;
    padding: 16px;
    margin: auto; /*Center the grid horizontally */
    max-width: 1200px; /* Maximum width of the grid*/
}

@media (max-width: 1200px) {
    .transactions-tabs {
        grid-template-columns: repeat(3, 250px); /* 3 columns on medium screens */
    }
    .rented-scooters-tabs {
        grid-template-columns: repeat(3, 250px); /* 3 columns on medium screens */
    }
}

@media (max-width: 900px) {
    .transactions-tabs {
        grid-template-columns: repeat(2, 250px); /* 2 columns on small screens */
    }
    .rented-scooters-tabs {
        grid-template-columns: repeat(2, 250px); /* 3 columns on medium screens */
    }
}

@media (max-width: 600px) {
    .transactions-tabs {
        grid-template-columns: repeat(1, 250px); /* 1 column on very small screens */
    }
    .rented-scooters-tabs {
        grid-template-columns: repeat(1, 250px); /* 3 columns on medium screens */
    }
}













