.transaction-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.transaction-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #000;
    color: #FFD860;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.transaction-buttons button.active {
    background-color: #FFD860;
    color: black;
}

.my-transactions h3 {
    color: #FFD860;
    padding: 20px;
    margin-top: 15px;
    text-align: center;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    border: 2px solid #FFD860;
    margin-bottom: 30px;
}

.my-transactions {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.transaction-buttons button:hover {
    background-color: #FFD860;
    color: black;
    transition: background-color 0.3s ease;
}

.rented-scooters-tabs {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 50px;
    justify-content: center;
    padding: 16px;
    margin: auto;
    max-width: 1200px;
}

.transactions-tabs {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 50px;
    justify-content: center;
    padding: 16px;
    margin: auto;
    max-width: 1200px;
}

@media (max-width: 1200px) {
    .transactions-tabs {
        grid-template-columns: repeat(3, 250px);
    }

    .rented-scooters-tabs {
        grid-template-columns: repeat(3, 250px);
    }
}

@media (max-width: 900px) {
    .transactions-tabs {
        grid-template-columns: repeat(2, 250px);
    }

    .rented-scooters-tabs {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 600px) {
    .transactions-tabs {
        grid-template-columns: repeat(1, 250px);
    }

    .rented-scooters-tabs {
        grid-template-columns: repeat(1, 250px);
    }
}
